<md-content md-colors="{background:'grey-200'}">
    <!--breadcrumbs start-->
    <div class="breadcrumb" md-colors="{background:'blue-500-0.56'}">
        Thread List
    </div>
    <!--breadcrumbs end-->
    <!--statistics blocks start-->
    <md-card>
        <md-grid-list md-cols="4" md-row-height="48px">
            <md-grid-tile md-colors="{background:'blue'}">
                <md-grid-tile-header>
                    <h3>New Threads</h3>
                </md-grid-tile-header>
            </md-grid-tile>
            <md-grid-tile md-colors="{background:'yellow'}">
                <md-grid-tile-header>
                    <h3>Pendding</h3>
                </md-grid-tile-header>
            </md-grid-tile>
            <md-grid-tile md-colors="{background:'green'}">
                <md-grid-tile-header>
                    <h3>Today UT</h3>
                </md-grid-tile-header>
            </md-grid-tile>
            <md-grid-tile md-colors="{background:'red'}">
                <md-grid-tile-header>
                    <h3>Anything else</h3>
                </md-grid-tile-header>
            </md-grid-tile>
        </md-grid-list>
    </md-card>
    <!--statistics blocks end-->

    <!--thread table start-->
    <md-card>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="OverAll">
        
      </md-tab>
      <md-tab label="Subscription 1">
      </md-tab>
      <md-tab label="Subscription 2">
      </md-tab>
    </md-tabs>
    <md-card style="margin:0;">
            <md-card-header layout="column" md-colors="{color:'blue'}" style="padding:12px 12px 0;">
                <md-card-header-text layout-align="start start">
                    <span class="md-title">Query</span>
                </md-card-header-text>
            </md-card-header>
            <!--<md-divider></md-divider>-->
            <md-card-content layout="row" layout-align="center center" style="padding:8px;padding-top: 0px">
            <div flex layout="row">
                <md-input-container class="inquery" flex="20">
                    <label>Owner</label>
                    <input type="text" name="owner" ng-model="params.owner">
                </md-input-container>
                <md-input-container class="inquery" flex="20">
                    <label>Status</label>
                    <md-select name="status" ng-model="params.status">
                        <md-option value="all" selected>All</md-option>
                        <md-option ng-repeat="s in CONST.PROGRESS_STATUS" value="{{s}}">{{s}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="inquery" flex="20">
                    <label>Products</label>
                    <md-select name="product" ng-model="params.product">
                        <!--<md-option value="all">All</md-option>-->
                        <md-option ng-repeat="p in products" ng-value="p.Value">{{p.Name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="inquery" flex="20">
                    <label>Platform</label>
                    <md-select name="platform" ng-model="params.platform">
                        <!--<md-option value="all">All</md-option>-->
                        <md-option ng-repeat="p in platforms" ng-value="p.Value">{{p.Name}}</md-option>
                    </md-select>
                </md-input-container>
                <div flex layout="row" layout-align="end center">
                    <md-button class="inline md-icon-button md-primary" ng-click="getResultsPage()">
                        <md-icon md-font-set="material-icons" md-colors="{color:'green'}">find_in_page</md-icon>
                    </md-button>
                    <md-button class="inline md-icon-button" ng-click="clearQuery()">
                        <md-icon md-font-set="material-icons" md-colors="{color:'deep-orange'}">refresh</md-icon>
                    </md-button>
                </div>
            </div>
            </md-card-content>
        </md-card>
    </md-card>
<!--thread table end-->
</md-content>