<md-content md-colors="{background:'grey-200'}">
    <!--breadcrumbs start-->
    <div class="breadcrumb" md-colors="{background:'blue-500-0.56'}">
        Subscriptions
    </div>
    <!--breadcrumbs end-->

    <!--thread table start-->
    <md-button class="md-raised" md-colors="{background:'green'}">
        <md-icon md-font-set="material-icons" aria-label="Add" style="color:#fff">add</md-icon>
        <span>New Subscription</span>
    </md-button>
    <md-card md-whiteframe="1">
        <md-list flex style="padding-top:0;">
            <md-subheader class="md-no-sticky">Current Subscriptions</md-subheader>
            <md-list-item class="md-3-line noright" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h3>Name: Subscription 1</h3>
                    <h4>Platform: Stackoverflow</h4>
                    <h4>Topic: Azure</h4>
                    <md-icon md-colors="{color:'green'}" class="md-secondary" md-font-set="material-icons" aria-label="Edit">edit</md-icon>
                    <md-icon md-colors="{color:'red'}" class="md-secondary" md-font-set="material-icons" aria-label="Remove">delete</md-icon>
                </div>
            </md-list-item>
        </md-list>
    </md-card>
<!--thread table end-->
</md-content>